<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> laidback anonymous-artwork </title>
    <link rel="stylesheet" href="/CSS/master.css">
    <link rel="icon" type="image/ico" href="/image/favicon.ico">
</head>

<body>
    <div id="container">
        <div id="header">
            <table cellspacing="20">
                <tr>
                    <td><img src="/image/lba_cat_profilepicturemaker.png" width="200" height="200"
                            alt="LBA cat missing !!"></td>
                    <td>
                        <h1>{{errorCode}} ERROR</h1>
                        <h4>{{errorMessage}}</h4>

                        </main>
                    </td>
                </tr>
            </table>
        </div>
        <div id="body">

        </div>

        <div id="footer">
            {{>footer}}
        </div>

    </div>

</body>

</html>