<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> laidback anonymous-artwork </title>
  <link rel="stylesheet" href="/CSS/master.css">
  <link rel="icon" type="image/ico" href="/image/favicon.ico">
</head>

<body>
  <div id="container">
    <div id="header">
      {{>header}}
    </div>
    <div id="body">
      <h1>content</h1>
      <h1>needs</h1>
      <h1>to</h1>
      <h1>be</h1>
      <h1>added</h1>
    </div>

    <div id="footer">
      {{>footer}}
    </div>

  </div>

</body>

</html>