<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> laidback anonymous </title>
  <link rel="stylesheet" href="/CSS/master.css">
  <link rel="icon" type="image/ico" href="/image/favicon.ico">
</head>

<body>
  <div id="container">
    <div id="header">
      {{>header}}
    </div>
    <div id="body">
      <br>
      <hr>
      <br>

      <h2><strong>What Are We ?</strong></h2>
      <h3><strong>A Creative Space Where You Can Put All Your Mind,Heart And Soul Except Your Name !</strong></h3>

      <br>
      <hr>

      <h2>Sneak To</h2>
      <ul>

        <li>
          <h3><a href="/poetries">Poetries</a>
            <h3>
        </li>
        <li>
          <h3><a href="/writings">Writings</a></h3>
        </li>
        <li>
          <h3><a href="/photography">Photography</a></h3>
        </li>
        <li>
          <h3><a href="/artwork">Artwork</a></h3>
        </li>
        <li>
          <h3><a href="/nothing">Nothing !</a></h3>
        </li>
      </ul>
      <br>
      <hr>
      <br>
      <ul class="below_links">
        <li class="below_link"><a href="https://instagram.com/laidbackanonymous?utm_medium=copy_link">
            <h4>Lets Become Annonymous In Instagram Too </h4>
          </a></li>
        <li class="below_link">
          <p>|</p>
        </li>
        <li class="below_link">
          <h4><a href="/support"> Support </a></h4>
          </a>
        </li>
        <li class="below_link">
          <p>|</p>
        </li>
        <li class="below_link">
          <h4><a href="/payment"> Payments </a></h4>
        </li>
      </ul>

    </div>

    <div id="footer">
      {{>footer}}
    </div>

  </div>

</body>

</html>