<table class="centre" cellspacing="20">
    <tr>
        <td><img src="/image/lba_newlogo.png" width="200" height="200" alt="LBA cat missing !!"></td>
        <td>
            <h1>{{title}}</h1>
            <h2>Welcome To LBA Opensource Community ! Be The Art Itself,Artist Not !</h2>
            <p>All Great Creations Remian Annonymous</p>
        </td>
    </tr>
</table>